nav.my-navbar {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 1% 15%;
  content-align: center; }

ul.ul-list {
  width: 100%; }

nav.my-navbar div.collapse ul li.logins {
  margin-left: 12rem; }

nav.my-navbar div.collapse ul li.list-item-left .left-link {
  font-family: "Montserrat";
  color: #4A4A4A;
  font-weight: bold;
  margin: auto;
  display: block;
  text-decoration: none; }
  nav.my-navbar div.collapse ul li.list-item-left .left-link:hover {
    color: #39B6ED; }

nav.my-navbar div.collapse ul li.list-item-left {
  text-align: center;
  margin: 0;
  padding: 3% 0; }

nav a.navbar-brand {
  margin: 0;
  width: auto;
  height: inherit; }

nav.my-navbar div.collapse ul li {
  text-align: center;
  margin: 0;
  padding: 3% 0;
  width: 12rem; }

nav.my-navbar div.collapse ul li.list-item-right .right-link {
  text-align: center;
  margin: 0;
  padding: 3% 0;
  color: #39B6ED;
  font-weight: bold;
  text-decoration: none;
  padding: 5% 30%;
  border: 0.15rem solid #39B6ED;
  border-radius: 3em;
  box-shadow: 2px 2px 3px 4px rgba(0, 0, 0, 0.15), -2px -2px 3px 4px rgba(0, 0, 0, 0.15); }
  nav.my-navbar div.collapse ul li.list-item-right .right-link:hover {
    background-color: #39B6ED;
    color: #FFFFFF;
    border-color: #FFFFFF; }

ul.upper-nav-right {
  display: block;
  margin: auto; }

.footer-nav {
  padding: 3% 8%;
  background-color: #FAFAFA; }

.row-bottom {
  width: 100%; }

.navbar-light .navbar-nav .nav-link {
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }

.navbar-light .navbar-nav .nav-item .bullet {
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }

.nav-link {
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }

div .bottom-cols {
  text-align: left; }
div .wm-info-text {
  margin-top: 5%;
  padding-right: 10%;
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }
div .wm-copyrights-text {
  margin-top: 10%;
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 0.1rem;
  font-weight: normal; }
div .footer-wm-heading {
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1.1rem;
  font-weight: bold; }
div .footer-links-container {
  margin-top: 6%; }
div .footer-contact-info {
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }
div .address-info {
  margin-top: 5%; }
div .cell-number {
  margin-top: 3%; }

.link-format {
  display: block;
  width: 100%;
  text-decoration: none;
  font-color: black;
  color: #C9C9C9;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold; }

[class*="col"] {
  text-align: center; }

.homepage-container {
  width: 100%;
  padding-top: 8%;
  padding-bottom: 40%;
  background-image: url(home.jpeg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .homepage-container .row {
    margin-top: 3%;
    margin-bottom: 8%; }
    .homepage-container .row .col-3 {
      padding: 0% 1%; }
      .homepage-container .row .col-3 .order-link {
        font-size: 20px;
        letter-spacing: 2px;
        font-weight: bold;
        font-family: "Montserrat";
        color: #39B6ED;
        border: 0.1rem solid #39B6ED;
        border-radius: 3em;
        padding: 10% 10%;
        margin-left: 6%;
        text-decoration: none; }
        .homepage-container .row .col-3 .order-link:hover {
          border: 0.1rem solid #FFFFFF;
          color: #FFFFFF;
          background-color: #39B6ED; }
    .homepage-container .row .zip-code {
      padding: 0% 5%; }

div.brandPurpose {
  color: #4A4A4A;
  font-family: "Montserrat";
  font-size: 36px; }

div.container .row .col-3 input.zip-code-form {
  padding-bottom: 12%;
  background-color: transparent;
  text-align: center;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0.1rem solid #39B6ED;
  border-radius: 0;
  font-size: 1.5rem; }
  div.container .row .col-3 input.zip-code-form:placeholder {
    font-color: white; }

.login {
  background-color: #eee;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 20%; }

[class*="col-5"] {
  padding: 0;
  height: 23rem; }

.login-cards {
  border: 0;
  border-radius: 0;
  padding: 4% 13%;
  height: 100%; }

.login-leftcard {
  border-right: 0.05rem solid #50FFB1; }

.login-heading {
  font-size: 1.7rem;
  text-align: left;
  font-weight: bold; }

.login-field {
  margin: 5% 0% 0% 0%;
  width: 100%;
  font-size: 1rem;
  padding: 3%;
  border: 0.05rem solid #50FFB1; }

.keep-signedin-label {
  font-size: 0.75rem;
  font-weight: normal;
  padding-left: 6.6%;
  width: 100%; }

.keep-signedin-checkbox {
  margin-right: 4%;
  margin-top: 9%; }

.form-check-container {
  margin: 0%;
  padding: 0%; }

.login-button {
  width: 100%;
  margin-top: 5%;
  background-color: #50FFB1;
  font-weight: bold;
  border: none;
  padding: 4% 10%;
  border-radius: 0.5em; }

.create-account-mesg {
  font-size: 0.95rem;
  font-weight: bold;
  height: auto;
  padding-left: 4%;
  padding-right: 4%; }

.create-account-btn {
  width: 100%;
  border: none;
  padding: 5% 10%;
  background-color: black;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.facebook-login-btn {
  width: 100%;
  border: none;
  padding: 4% 9%;
  background-color: blue;
  color: white;
  margin-top: 1.5rem; }

.google-login-btn {
  width: 100%;
  border: none;
  padding: 4% 9%;
  background-color: white;
  color: red;
  margin-top: 1.3rem;
  border: 0.05rem solid #50FFB1; }

[class*="col-10"] {
  padding: 0;
  text-align: center; }

.login-bottomcard {
  background-color: #DAE5DF;
  border: 0;
  border-radius: 0;
  box-shadow: 10px 10px 10px grey;
  height: 5rem; }

.password-forget {
  color: #50FFB1;
  font-weight: bold;
  text-decoration: underline; }

.forgetpass-text {
  font-weight: bold;
  color: #7f8180;
  text-align: center;
  padding: 3%; }

.signup {
  background-color: #eee;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 20%; }

[class*="signup-column"] {
  padding: 0;
  height: 32rem; }

.signup-cards {
  border: 0;
  border-radius: 0;
  padding: 4% 10%;
  height: 100%; }

.signup-leftcard {
  border-right: 0.05rem solid #50FFB1; }

.signup-heading {
  font-size: 1.7rem;
  text-align: left;
  font-weight: bold; }

.signup-field {
  margin: 5% 0% 0% 0%;
  width: 100%;
  font-size: 1rem;
  padding: 3%;
  border: 0.05rem solid #50FFB1; }

.register-button {
  width: 100%;
  margin-top: 5%;
  background-color: #50FFB1;
  font-weight: bold;
  border: none;
  padding: 4% 10%;
  border-radius: 0.5em; }

.login-black-btn {
  width: 100%;
  border: none;
  padding: 5% 10%;
  background-color: black;
  font-weight: bold;
  font-size: 0.75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.already-account-mesg {
  font-size: 0.95rem;
  font-weight: bold;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  text-align: left; }

.text-OR {
  font-weight: bold;
  height: auto;
  padding-left: 4%;
  padding-right: 4%;
  text-align: center; }

/*# sourceMappingURL=index.css.map */
